# Ignore the virtual environment
env/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore environment variable files
.env

# Ignore SQLite databases
*.sqlite3

# Ignore VSCode/JetBrains IDE settings (optional)
.vscode/
.idea/

# Ignore Mac and system files
.DS_Store
Thumbs.db
